<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>products</key>
	<array>
		<string>qymj001</string>
		<string>qymj002</string>
		<string>qymj003</string>
		<string>qymj004</string>
		<string>qymj005</string>
		<string>qymj006</string>
	</array>
</dict>
</plist>